@import "./styles/variables.css";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 15fr;
  grid-template-areas:
    "navbar"
    "main";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-grid {
  position: relative;
}

.full-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.text {
  font-family: sans-serif;
}

.scroll-y {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-y::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
